.themes_col {
    width: 60% !important;
    text-align: left;
}
.themes_author{
    width: 15% !important;
    text-align: center;
}
.themes_answer{
    width: 15% !important;
    text-align: center;
}
.themes_m_count{
    width: 10% !important;
    text-align: center;
}

.message_author {
    width: 20% !important;
}

.message_text {
    width: 80% !important;
}